*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: cornflowerblue;
}
header .header{
  display: block;
  margin: 5px;
  top: 0;
  border-radius: 5px;
  width: 32rem;
  text-align: center;
  background-color: aquamarine;
}

.calculator{
  background-color: blue;
  justify-items: center;
  align-items: center;
  border-radius: 5px;
  width: 16rem;
  }
.btn{
  margin: 2px;
}
p{
  color: white;
  background-color: blueviolet;
  justify-content: center;
  width: 100%;
  text-align: center;
}